<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
    </connectionStrings>
  <appSettings>
    <add key="connString" value="Data Source=DESKTOP\SQLEXPRESS;Initial Catalog=SYSANALIZER2;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add key="CreateUserQ" value="INSERT INTO..."/>
    <add key="UpdateUserQ" value="UPDATE SET..."/>
    <add key="DeleteUserQ" value="DELETE..."/>
    <add key="GetUsersQ" value="SELECT..."/>
    <add key="GetUserLoginAttemptQ" value="SELECT ContadorIngresosIncorrectos FROM Usuario WHERE id = "/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>