<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>AWSjF4YOEr7F+yroYfIzNyNsclYv8d87SNDplROP+8N2IvgvKqXyzaD8gTewue31DrfUn9w9xVeT5gJbQSshnW1EPJOGQ3+lCKHXFyCaFePeIALXJpHCZ3JSCK6fQsTTBeKpMOS+tAMHv2ZVNy3vOXZ7EmE8Sfj7ch0vTVYNGpo=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>936ktFr36QySB3aqYslemCBBCX+UZiceejY6qsAefxw=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
    <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>cB214qk5XoWpy+cy2mqONGgZDiUcH8o+GkPDMcMaXEEUAOcCCD6H0rfenJVuIKSxXwqW3PactBV3YFFZpJWVzzATziwem3vJqXhTZo6+Zjo8cTqbOVMojU7cjI2+PEDJ2p0c26EMbDy8QgEUdtnghzoR+oTCe5ETDWq3zp+ZzDE=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>Av5Mj5Pg1XsOC1um9+r23r/HZE4eDZVt</CipherValue>
            </CipherData>
        </EncryptedData>
    </appSettings>
</configuration>